$main-font: 'Roboto', sans-serif;
$primary-white-color: #ffffff;
$nav-focus-color: #fce38a;
$title-after-color: #f38181;
$primary-black-color: #333333;
$border-top-info-color:#e7e7e7;
$subscribe-input-bg-color: #95e1d3;
$subscribe-input-email-color: #d9d9d9;
$copyright-name-color: #f6a6a6;
$gradient: rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9);
$gradient-mans: rgba(239, 137, 139, 0.9), rgba(240, 218, 137, 0.9);