html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: $main-font;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #999999;

}

